<extends src="src/layouts/main.html">
    <block name="template">
        <img
            class="w-full"
            src="https://storage.googleapis.com/vuanem-email-assets/sales-order-confirmation.png"
        />
        <div class="px-5 text-brand-dark-blue">
            <p class="mb-3">
                Vua Nệm rất vui thông báo đơn hàng
                <span class="font-bold"> @{{ event.tranid }} </span> đã được tiếp nhận và đang trong
                quá trình xử lý.
            </p>
            <p class="mb-3 font-bold">
                Vua Nệm gửi email thông báo đến quý khách thông tin chi tiết đơn hàng.
            </p>
            <div class="mb-3 p-4.5 bg-brand-gray">
                <h2 class="mt-0 mb-6 font-bold text-lg">THÔNG TIN ĐƠN HÀNG @{{ event.tranid }}</h2>
                <table class="table-fixed">
                    <tbody>
                        <tr class="mb-5">
                            <td class="w-32 md:w-56 pb-5">Email:</td>
                            <td class="pb-5 font-bold">@{{ person.email }}</td>
                        </tr>
                        <tr>
                            <td class="w-32 md:w-56 pb-5">Số điện thoại:</td>
                            <td class="pb-5 font-bold">@{{ person.phone_number }}</td>
                        </tr>
                        <tr>
                            <td class="align-top w-32 md:w-56">Địa chỉ giao hàng:</td>
                            <td class="align-top font-bold">@{{ event.shipaddress }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="mb-3 w-full border-0">
                <tr>
                    <td class="text-center underline">
                        <a href="https://vuanem.com/chinh-sach/#cs5">Chính sách giao hàng</a>
                    </td>
                </tr>
            </table>
            <div class="mb-3 pt-4">
                <p class="font-bold">Chi tiết đơn hàng của bạn</p>
            </div>
            <div class="mb-3 bg-brand-gray">
                <table class="table-fixed w-full border-collaspe text-left font-bold mb-5">
                    <thead>
                        <tr>
                            <th
                                class="px-4 py-5 border-solid border border-t-0 border-l-0 border-[#D9D9D9]"
                            >
                                Tên sản phẩm
                            </th>
                            <th
                                class="px-4 py-5 border-solid border border-t-0 border-[#D9D9D9] text-right"
                            >
                                Số lượng
                            </th>
                            <th
                                class="px-4 py-5 border-solid border border-t-0 border-r-0 border-[#D9D9D9] text-right"
                            >
                                Thành tiền
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in event.items %}
                        <tr>
                            <td
                                class="px-4 py-5 border-solid border border-t-0 border-l-0 border-[#D9D9D9]"
                            >
                                @{{ item.displayname }}
                            </td>
                            <td
                                class="px-4 py-5 border-solid border border-t-0 border-[#D9D9D9] text-right"
                            >
                                @{{ item.quantity }}
                            </td>
                            <td
                                class="px-4 py-5 border-solid border border-t-0 border-r-0 border-[#D9D9D9] text-right"
                            >
                                @{{ item.grossamt_pretty }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="sm:ml-10 ml-56 mr-4">
                    <table class="table-auto w-full">
                        <tbody>
                            <tr>
                                <td class="pb-3.5">Tổng giá trị sản phẩm</td>
                                <td class="pb-3.5 text-right font-bold">
                                    @{{ event.grossamt_pretty }}
                                </td>
                            </tr>
                            <tr>
                                <td class="pb-3.5">Phí vận chuyển</td>
                                <td class="pb-3.5 text-right font-bold">0</td>
                            </tr>
                            <tr>
                                <td class="pb-3.5">Tổng thanh toán</td>
                                <td class="pb-3.5 text-right text-[#F43A3A] text-lg font-bold">
                                    @{{ event.grossamt_pretty }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="text-sm">
                Quý khách có thể tham khảo thêm chính sách đổi trả sản phẩm và bảo hành
                <a
                    class="text-blue-600 text-base underline"
                    href="https://vuanem.com/chinh-sach/#cs3"
                    >Tại đây</a
                >
            </p>
        </div>
    </block>
</extends>
