<extends src="src/layouts/main.html">
    <block name="template">
        <div class="space-y-5 bg-white">
            <div class="relative">
                <img
                    src="https://storage.googleapis.com/vuanem-email-assets/sales-order-confirmation-banner.png"
                />
                <h1
                    class="absolute top-32 left-1/2 -translate-x-1/2 -translate-y-1/2 text-lg text-yellow-300 font-bold"
                >
                    Xin chào!
                </h1>
                <p
                    class="absolute top-44 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-white font-bold"
                >
                    Trong cuộc sống có quá nhiều sự lựa chọn cảm ơn bạn đã tin tưởng Vua Nệm !!
                </p>
            </div>
            <div class="px-5 flex-col items-stretch space-y-3">
                <p>
                    Vua Nệm rất vui thông báo đơn hàng @{{ event.tranid }} đã được tiếp nhận và đang
                    trong quá trình xử lý.
                </p>
                <p class="font-bold">
                    Vua Nệm gửi email thông báo đến quý khách thông tin chi tiết đơn hàng.
                </p>
                <div class="p-5 bg-gray-100">
                    <h2 class="font-bold mb-6">THÔNG TIN ĐƠN HÀNG @{{ event.tranid }}</h2>
                    <div class="space-y-5">
                        <div class="flex">
                            <p class="basis-4/12">Tên khách hàng:</p>
                            <p class="font-bold">@{{ person.name }}</p>
                        </div>
                        <div class="flex">
                            <p class="basis-4/12">Email:</p>
                            <p class="font-bold">@{{ person.email }}</p>
                        </div>
                        <div class="flex">
                            <p class="basis-4/12">Số điện thoại:</p>
                            <p class="font-bold">@{{ person.phone_number }}</p>
                        </div>
                        <div class="flex">
                            <p class="basis-4/12">Địa chỉ:</p>
                            <p class="font-bold">@{{ person.address }}</p>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <a class="text-center underline" href="https://vuanem.com/chinh-sach/#cs5"
                        >Chính sách giao hàng</a
                    >
                </div>
                <div class="pt-4">
                    <p class="font-bold">Chi tiết đơn hàng của bạn</p>
                </div>
                <div class="bg-gray-100 space-y-3.5">
                    <table class="w-full border-collapse text-left font-bold">
                        <thead>
                            <tr>
                                <th class="px-4 py-5 border">Tên sản phẩm</th>
                                <th class="px-4 py-5 border">Số lượng</th>
                                <th class="px-4 py-5 border">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- {% for item in event.items %} -->
                            <tr>
                                <td class="px-4 py-5 border">@{{ item.name }}</td>
                                <td class="px-4 py-5 border">@{{ item.quantity }}</td>
                                <td class="px-4 py-5 border">@{{ item.amount }}</td>
                            </tr>
                            <tr>
                                <td class="px-4 py-5 border">@{{ item.name }}</td>
                                <td class="px-4 py-5 border">@{{ item.quantity }}</td>
                                <td class="px-4 py-5 border">@{{ item.amount }}</td>
                            </tr>
                            <tr>
                                <td class="px-4 py-5 border">@{{ item.name }}</td>
                                <td class="px-4 py-5 border">@{{ item.quantity }}</td>
                                <td class="px-4 py-5 border">@{{ item.amount }}</td>
                            </tr>
                            <!-- {% endfor %} -->
                        </tbody>
                    </table>
                    <div class="ml-48 pr-4 pb-5 space-y-3.5">
                        <div class="flex justify-between">
                            <p class="basis-4/12">Tổng giá trị sản phẩm</p>
                            <p class="font-bold">@{{ event.grossamt_pretty }}</p>
                        </div>
                        <div class="flex justify-between">
                            <p class="basis-4/12">Phí vận chuyển</p>
                            <p class="font-bold">0</p>
                        </div>
                        <div class="flex justify-between">
                            <p class="basis-4/12">Tổng thanh toán</p>
                            <p class="text-red-500 font-bold">@{{ event.grossamt_pretty }}</p>
                        </div>
                    </div>
                </div>
                <p>
                    Quý khách có thể tham khảo thêm chính sách đổi trả sản phẩm và bảo hành
                    <a class="text-blue-500 underline" href="https://vuanem.com/chinh-sach/#cs3"
                        >Tại đây</a
                    >
                </p>
            </div>
        </div>
    </block>
</extends>
