<div>
    <table class="mb-3 w-full">
        <tr class="bg-[#e0e5e8]">
            <td class="p-2 text-center">
                <a
                    class="text-brand-dark-blue no-underline font-bold"
                    href="https://vuanem.com/uu-dai/blackfriday"
                    >Xem ưu đãi >>></a
                >
            </td>
        </tr>
        <tr class="bg-[#e0e5e8]">
            <td class="p-2 text-center">
                <a
                    class="text-brand-dark-blue no-underline font-bold"
                    href="https://vuanem.com/chinh-sach/#cs1"
                    >Điều khoản & Điều kiện >>></a
                >
            </td>
        </tr>
        <tr class="bg-[#e0e5e8]">
            <td class="p-2 text-center">
                <a
                    class="text-brand-dark-blue no-underline font-bold"
                    href="https://vuanem.com/chinh-sach#cs7"
                    >Chính sách đổi trả >>></a
                >
            </td>
        </tr>
    </table>
    <table class="mb-3 p-2 w-full table-fixed">
        <tr>
            <td class="text-center">
                <a
                    class="text-lg text-brand-dark-blue no-underline font-bold"
                    href="https://vuanem.com/nem"
                    >Nệm</a
                >
            </td>
            <td class="text-center">
                <a
                    class="text-lg text-brand-dark-blue no-underline font-bold"
                    href="https://vuanem.com/chan-ga-goi"
                    >Chăn ga</a
                >
            </td>
            <td class="text-center">
                <a
                    class="text-lg text-brand-dark-blue no-underline font-bold"
                    href="https://vuanem.com/giuong"
                    >Giường</a
                >
            </td>
            <td class="text-center">
                <a
                    class="text-lg text-brand-dark-blue no-underline font-bold"
                    href="https://vuanem.com/uu-dai/chuong-trinh-thang"
                    >Ưu đãi</a
                >
            </td>
        </tr>
    </table>
    <table class="w-full table-fixed">
        <tr>
            <td></td>
            <td></td>
            <td class="">
                <table class="w-full table-fixed">
                    <tr>
                        <td class="text-center">
                            <a
                                class="text-brand-dark-blue"
                                href="https://www.facebook.com/vuanem.vn/?utm_source=vuanem.com"
                                target="_blank"
                            >
                                <img
                                    class="w-[32px]"
                                    alt="Facebook"
                                    src="https://d3k81ch9hvuctc.cloudfront.net/assets/email/buttons/subtle/facebook_96.png"
                                />
                            </a>
                        </td>
                        <td class="text-center">
                            <a
                                class="text-brand-dark-blue"
                                href="https://www.youtube.com/@vuanem9916"
                                target="_blank"
                            >
                                <img
                                    class="w-[32px]"
                                    alt="YouTube"
                                    src="https://d3k81ch9hvuctc.cloudfront.net/assets/email/buttons/subtle/youtube_96.png"
                                />
                            </a>
                        </td>
                        <td class="text-center">
                            <a
                                class="text-brand-dark-blue"
                                href="https://www.youtube.com/@vuanem9916"
                                target="_blank"
                            >
                                <img
                                    class="w-[32px]"
                                    alt="Instagram"
                                    src="https://d3k81ch9hvuctc.cloudfront.net/assets/email/buttons/subtle/instagram_96.png"
                                />
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table class="w-full table-fixed">
        <tr>
            <td>
                <p class="text-center text-brand-dark-blue text-[8px]">
                    Gọi mua hàng (8h30 - 21:00): 1800 2092
                </p>
                <p class="text-center text-brand-dark-blue text-[8px]">
                    Gọi khiếu nại (8h30 - 18h00): 1800 2093
                </p>
                <p class="text-center text-brand-dark-blue font-bold">
                    Vua Nệm - Ngủ ngon, Sống trọn.
                </p>
            </td>
        </tr>
    </table>
</div>
