<div>
    <table class="w-full">
        <tr>
            <td class="text-center underline">
                <a href="https://vuanem.com">
                    <img
                        class="w-[100px]"
                        src="https://d3k81ch9hvuctc.cloudfront.net/company/RBD3Xe/images/fe95a7b6-e0a5-468a-9e65-3580d7a50125.jpeg"
                    />
                </a>
            </td>
        </tr>
    </table>
    <table class="mb-3 w-full table-fixed">
        <tr>
            <td class="text-center">
                <a class="text-lg text-brand-dark-blue no-underline" href="https://vuanem.com/nem"
                    >Nệm</a
                >
            </td>
            <td class="text-center">
                <a
                    class="text-lg text-brand-dark-blue no-underline"
                    href="https://vuanem.com/chan-ga-goi"
                    >Chăn ga gối</a
                >
            </td>
            <td class="text-center">
                <a
                    class="text-lg text-brand-dark-blue no-underline"
                    href="https://vuanem.com/giuong"
                    >Giường</a
                >
            </td>
            <td class="text-center">
                <a
                    class="text-lg text-brand-dark-blue no-underline"
                    href="https://vuanem.com/uu-dai/chuong-trinh-thang"
                    >Khuyến mãi</a
                >
            </td>
        </tr>
    </table>
</div>
<content> </content>
